:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #125555;
    --secondary-color: #fff;
    --error-color: rgba(194, 0, 0, 0.71);
    --third-color: #66CDAA;
}
#Background{
background-image: radial-gradient(white,black,transparent 15%), url("items.jpg");
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F7F9F9;
    padding: 0 20px;
    height: 150px;
    radius: 25px;
    margin-top: 100px;
}

#welcome {
    font-size: 25px;
    font-family: "Bradley Hand", cursive;
    align-items: center;
}

#h1top {
    font-size: 20px;
    font-family: "Bradley Hand", cursive;
    align-items: center;
}

#select_portal {
    font-family: Arial, serif;
    font-size: 20px;
}

.header_home {
    font-size: 90px;
    line-height: 40px;
    height: 80px;
    text-decoration: none;
    color: #F7F9F9;
    align-items: center;
    font-family:"Brush Script MT", cursive;
}

.header_nav_link {
    margin-left: 20px;
    vertical-align: top;
    line-height: 40px;
}

.about {
    margin-left: 20px;
}

.button, button {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #595959;
    padding: 25px 25px;
    font-size: 20px;
    cursor: pointer;
}


#customer_link {
    font-family: Arial, serif;
    text-decoration: none;
    color: black;
}

#admin_link {
    font-family: Arial, serif;
    text-decoration: none;
    color: black;
}

.btn customerAccess {
    border-color: white;
    color: #333333;
}

.customerAccess:hover {
    background-color: white;
    color: white;
}

.btn adminAccess {
    border-color: white;
    color: #333333;
}

.adminAccess:hover {
    background: white;
    color: white;
}
.card {
    margin: auto;
    text-align: center;
    border-radius: 20px;
/*
    background-color: linear-gradient(#000000,#02607d);
*/
    background-image: linear-gradient(0deg,#000000 20%,#454b4d);
    color: white;
    opacity: .95;
    padding: 20px;
    height: 50%;
    width: 40%;
}

.holder{
    border-radius: 25px;
    background-color: #000000 ;
    padding: 15px 0px;
    margin: 60px;
    opacity: 100%;
}

h1{
text-align: center;
}

.site-title{
height: 10vh;
width:200vh;
text-align: center;

}
.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 20px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

#concert-list li {
    margin-bottom: 1rem;
}

.state {
    display: none;
}

.state.active {
    display: block;
}
